p {
    font-size: 1rem/* 16px */;
    line-height: 2.25rem/* 36px */;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

code {
    color: white;
    padding: 4px;
    margin-right: 4px;
    margin-left: 4px;
}

.anchor {
    display: block;
    padding-top: 40px;
    margin-top: 0px;
}