p code {
    background-color: rgb(229, 231, 235);
    color: red;
    padding: 4px;
    margin-right: 4px;
    margin-left: 4px;
}

.anchor {
    display: block;
    padding-top: 40px;
    margin-top: 0px;
}